.body{
  background: grey;
  overflow: hidden;
}
.header {
  background: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 90px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18pt;
  color: white;
  text-align: center;
  padding: 7px;
  margin-bottom: 25px;
  overflow: hidden;
}

/*index.ejs  and register styles*/
#register-btn {
  background: red;
  color: white;
  border: none;
  margin-top: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
}
#register-btn:hover {
  background: #a80000;
}
.sign-in {
  display: block;
  background: #dbdbdb;
  width: 300px;
  height: 385px;
  color: black;
  margin: 25px 0px;
  /* center on screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#sign-in-title {
  display: block;
  width: 250px;
  margin: 5px auto 0px auto;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18pt;
  text-align: center;
}
#sign-in-form {
  display: block;
  height: 85px;
  margin: 5px auto;
}
.form-item {
  display: block;
  margin: 0px auto 5px auto;
  padding: 2px;
  width: 250px;
  border: none;
}
#invalid-user {
  display: block;
  background: white;
  font-weight: bold;
  text-align: center;
  color: red;
}
#start-game {
  display: block;
  margin: 0px auto 15px auto;
  padding: 5px;
  background: red;
  width: 250px;
  color: white;
  border: none;
}
#start-game:hover{
  background: #a80000;
}
#tic-tac-toe-img {
  display: block;
  width: 250px;
  margin: 12px auto;
}

/* game.ejs styles*/
#button-box {
  display: block;
  width: 350px;
  margin: 15px auto;
  overflow: hidden;
}
.game-btn {
  display: block;
  height: 50px;
  width: 150px;
  background: red;
  color: white;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
  overflow: hidden;
}
.game-btn:hover {
  background: #a80000;
}
.game-btn-sm {
  display: block;
  height: 40px;
  width: 150px;
  margin: 0px auto;
  padding: 5px;
  background: red;
  color: white;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
  overflow: hidden;
}
.game-btn-sm:hover {
  background: #a80000;
}
#new-game {
  margin-right: 20px;
  float: left;

}
#high-scores {
  float: left;

}
#game-board {
  display: block;
  height: 300px;
  width: 300px;
  margin: 25px auto;
}
.game-space {
  display: block;
  float: left;
  height: 100px;
  width: 100px;
  background: #dbdbdb;
}
#space-one {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-two {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-three {
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-four {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-five {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-six {
  border-bottom: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-seven {
  border-right: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-eight {
  border-right: solid 5px black;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-nine {
  text-align: center;
  vertical-align: center;
  line-height: 100px;
  font-size: 36pt;
}
#space-one:hover {
  background: #4d4d4d;
}
#space-two:hover {
  background: #4d4d4d;
}
#space-three:hover {
  background: #4d4d4d;
}
#space-four:hover {
  background: #4d4d4d;
}
#space-five:hover {
  background: #4d4d4d;
}
#space-six:hover {
  background: #4d4d4d;
}
#space-seven:hover {
  background: #4d4d4d;
}
#space-eight:hover {
  background: #4d4d4d;
}
#space-nine:hover {
  background: #4d4d4d;
}
#score-board {
  display: block;
  height: 300px;
  width: 300px;
  margin: 25px auto;
  text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-weight: bold;
}
.user-submit-score {
  text-align: center;
  background: none;
  border: none;
}
